<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright © 2023 InfoPoint. All rights reserved.
  ~
  ~ Licensed under the MIT License;
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     https://mit-license.org/
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  ~
  ~   @author Valentino Bocchetti
  ~   First written in 23/6/2023 at 8:26
  ~
  -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Network Permission -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_info_point_logo"
        android:roundIcon="@mipmap/ic_info_point_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.InfoPoint"
        tools:targetApi="31">

        <!-- Launcher w/ Splash Screen -->
        <activity
            android:name=".App"
            android:screenOrientation="fullSensor"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Authentication -->
        <activity
            android:name=".ui.activity.authentication.login.LoginActivity"
            android:screenOrientation="fullSensor"
            />
        <!-- sensorPortrait -->
        <activity
            android:name=".ui.activity.authentication.registration.RegistrationActivity"
            android:screenOrientation="fullSensor"
            />

        <!-- Intro -->
        <activity android:name=".ui.activity.intro.IntroActivity"
            android:screenOrientation="fullSensor" />

        <!-- Navigation graph -->
        <activity android:name=".ui.activity.MainActivity"
            android:screenOrientation="fullSensor"
            android:exported="true">
            <nav-graph android:value="@navigation/info_point_navigation" />
        </activity>
    </application>
</manifest>