<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Network Permission -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_info_point_logo"
        android:roundIcon="@mipmap/ic_info_point_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.InfoPoint"
        tools:targetApi="31">

        <!-- Launcher w/ Splash Screen -->
        <activity
            android:name=".App"
            android:screenOrientation="sensorPortrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Authentication -->
        <activity
            android:name=".ui.activity.authentication.login.LoginActivity"
            android:screenOrientation="sensorPortrait"
            />
        <activity
            android:name=".ui.activity.authentication.registration.RegistrationActivity"
            android:screenOrientation="sensorPortrait"
            />

        <!-- Intro -->
        <activity android:name=".ui.activity.intro.IntroActivity"
            android:screenOrientation="sensorPortrait"
            />

        <!-- Navigation graph -->
        <activity android:name=".ui.activity.MainActivity"
            android:screenOrientation="sensorPortrait"
            android:exported="true">
            <nav-graph android:value="@navigation/info_point_navigation" />
        </activity>
    </application>
</manifest>